@media only screen and (min-width: 601px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 900px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

html {
    font-family: 'Segoe UI', sans-serif;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #718289;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
    background-color: #6b777a;
}

.aside {
    background-color: #bbc3c6;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
    background-color: #7d7d7c;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

body {
    background-color: #ffffff;
}

@media only screen and (max-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }
    body {
        background-color: rgb(127, 204, 255);
    }
    .header {
        background-color: navy;
    }
    .footer {
        background-color: rgb(91, 72, 214);
    }
    .aside {
        background-color: rgb(37, 119, 243);
    }
    .menu li:hover {
        background-color: cornflowerblue;
    }
    .menu li {
        background-color: rgb(85, 112, 153);
    }
}

@media only screen and (min-width: 601px) {
    body {
        background-color: #a7df86;
    }
    .header {
        background-color: rgb(54, 132, 31);
    }
    .menu li {
        background-color: rgb(95, 158, 31);
    }
    .footer {
        background-color: rgb(54, 132, 31);
    }
    .aside {
        background-color: rgb(18, 74, 22);
    }
    .menu li:hover {
        background-color: rgb(78, 184, 3);
    }
}

@media only screen and (min-width: 900px) {
    body {
        background-color: #acacac;
    }
    .header {
        background-color: rgb(59, 59, 59);
    }
    .menu li {
        background-color: rgb(90, 92, 87);
    }
    .footer {
        background-color: rgb(90, 89, 89);
    }
    .aside {
        background-color: rgb(171, 171, 171);
    }
    .menu li:hover {
        background-color: rgb(158, 158, 158);
    }
}